.page-hero {
  height: $page-hero-height;
  background: url('/assets/images/page_bgr.jpg') no-repeat center center;
  background-size: cover;

  @media(min-width: $width-md) {
    height: $page-hero-height-desktop;
  }

  &:after {
    content: '';
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba($hero-overlay-start, 0.2); /* Old browsers */
    background: -moz-linear-gradient(rgba($hero-overlay-start, $hero-overlay-opacity-start) 0%, rgba($hero-overlay-stop, $hero-overlay-opacity-center) 60%, rgba(darken($hero-overlay-stop, 15%), $hero-overlay-opacity-end) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(rgba($hero-overlay-start, $hero-overlay-opacity-start) 0%, rgba($hero-overlay-stop, $hero-overlay-opacity-center) 60%, rgba(darken($hero-overlay-stop, 15%), $hero-overlay-opacity-end) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(rgba($hero-overlay-start, $hero-overlay-opacity-start) 0%, rgba($hero-overlay-stop, $hero-overlay-opacity-center) 60%, rgba(darken($hero-overlay-stop, 15%), $hero-overlay-opacity-end) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
